body{
 
  text-align: center;
  font-family: 'Merriweather', serif;
}
.div1{
  background-color: #EAf5f6;
 
  /* margin:0;  */
  /* padding-top: 100px; */
}
h1{
  margin: 300px auto 0 auto;
  color: #66BFBF;
  display: inline-block;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;

}
h2{
  color:#66BFBF;
  font-size: 50px;
}
h3{
  color: #11999E;
}
.p1{
  padding: 20px;
  font-family: 'Merriweather', serif;
  position: relative;
  bottom: 50px ;
  color: #66BFBF;

  font-size: 2.5rem;
  line-height:2;
}

.p2{
  position: relative;
  bottom: 10px;

line-height: 2;
color: #EAF6F6;
font-size: 0.76rem;
font-weight: 200;
padding: 20px 0 20px 0;
}



.cloud1{
  display: inline-block;
  position:absolute;
  right: 150%;
  bottom: 950%;
  top: 200%;

}
.cloud2{

  display: inline-block;
  position:absolute;
  left:200%;
  bottom: 20%;
}

.skill-row{
  width: 50%;
  position: relative;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.skill1{
  float: left;
  margin-right:30px ;
}
.skill2{
  float: right;
  margin: auto auto 100 auto;
  margin-left: 30px;
}
.myimage{
  margin-top: 50px;
}
.btn{
  border-radius: 50% / 5%;
  background-color:#11999E;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  right: 10px;
  left: 10px;
  color: white;
  padding: 15px 32px;
  display: inline-block;
  border:none;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
position: relative;
bottom: 50px;
font-weight: 1000;
font-size: 19px;

}
.btn:hover{
  background-color:  #66BFBF;
}
.bottom-container{
  background-color: #66BFBF;
  text-align: center;
  padding: 50px 0 20px;
}
hr{
  border-style: dotted none none;
  width: 10%;
  border-width: 8px; 
  border-color:	#C0C0C0;
  margin: 100px auto;
  
}
.contact-me{
 margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat' , sans-serif;
  text-decoration: none;
  margin: 10px 20px;
  font-weight: 100px;
}
a:hover{
  color: #EAF6F6;
}
.middle-container{
  background-color: #EAF6F6;
}